<label for="{{ field.inputName }}" class="{{ label_class }}">{{ field.label }}</label>
<div class="{{ div_class }}"><input type="text" id="{{ field.inputName }}" name="{{ field.inputName }}" value="{{ field.value }}" class="{{ input_class }}"></div>
{# @todo allow better styling of the error message: align it below the input field #}
{% if field.errorMessage != '' %}<p class="text-danger">{{ field.errorMessage }}</p>{% endif %}
