{% extends "base.html.twig" %}

{% block pagetitle %}VeraCrypt Crash Collector | Forgot Password{% endblock %}

{% block content %}
    {% import "parts/forms/macros.html.twig" as forms %}
    {% if form.isSubmitted() and (form.isValid() or form.pretendIsValid()) %}
        <p class="text-success">Thanks. If the email provided matches an active user account, an email has been sent to it.</p>
    {% else %}
        {# @todo make the form a bit less wide #}
        <form action="{{ form.actionUrl }}" method="{{ form.getMethod() }}" class="border p-3 rounded">
            {% if form.errorMessage|default('') != '' %}
                <p class="text-danger">{{ form.errorMessage }}</p>
            {% endif %}
            <div class="row mb-3">
                {{ forms.input(form.getField('email'), {'label': 'col-sm-2 col-form-label', 'div': 'col-sm-10', 'input': 'form-control'}) }}
            </div>
            <div class="row">
                {{ forms.input(form.getSubmit(), {'input': 'btn btn-primary form-control'}) }}
            </div>
        </form>
    {% endif %}
{% endblock %}
