{% extends "base.html.twig" %}

{% block content %}
{% import "parts/forms/macros.html.twig" as forms %}
{# @todo make the form a bit less wide #}
<form action="{{ form.actionUrl }}" method="{{ form.getMethod() }}" class="border p-3 rounded">
    {% if form.errorMessage|default('') != '' %}
        <p class="text-danger">{{ form.errorMessage }}</p>
    {% endif %}
    <div class="row mb-3">
        {{ forms.input(form.getField('username'), {'label': 'col-sm-2 col-form-label', 'div': 'col-sm-10', 'input': 'form-control'}, {'spellcheck': 'false'}) }}
    </div>
    <div class="row mb-3">
        {{ forms.input(form.getField('password'), {'label': 'col-sm-2 col-form-label', 'div': 'col-sm-10', 'input': 'form-control'}) }}
    </div>
    {{ forms.input(form.getField('redirect'), {}) }}
    <div class="row">
        {{ forms.input(form.getSubmit(), {'input': 'btn btn-primary form-control'}) }}
    </div>
</form>
{% endblock %}
